*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.book-list__container{
  height: calc(100vh - 250px);
  min-height: 250px;
  padding: 30px;
  overflow: auto;
}

.create-book__container{
  height: 250px;
  min-height: 250px;
  padding: 30px;
  background-color: #7DDE92;
  overflow: auto;
}